.entete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  padding: 10px;
}

.entete .logo a {
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.entete .logo .col img {
  width: 60px;
}

.entete .logo h1 {
  font-family: "Galada", cursive;
  font-size: 2.2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
}

.entete .panier {
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.entete .panier .fas {
  color: black;
}

footer {
  font-family: "Facility", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px;
}

@media (max-width: 575.98px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .adresse,
footer .contact {
  text-align: center;
}

footer h3 {
  font-weight: bold;
}

footer a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
}

body.container-fluid {
  padding: inherit;
}

body.container-fluid main {
  background-color: rgba(32, 201, 151, 0.3);
}

div.row {
  margin: 0;
}

div.row .col.col-4 {
  display: none;
  padding: 0;
}

@media (min-width: 992px) {
  div.row .col.col-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

div.row .col.col-4 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

div.row .sm-col-12.blocPresentation {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.row .sm-col-12.blocPresentation h2 {
  font-family: "Courgette", cursive;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

div.row .sm-col-12.blocPresentation .presentation {
  font-family: "Courgette", cursive;
  font-size: 1.2rem;
  text-align: justify;
}

.collection {
  height: auto;
  width: 90%;
  margin: auto;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collection h2 {
  font-family: "Courgette";
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}

#teddies {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#teddies .boxProduits {
  background-color: white;
  max-width: 300px;
  width: auto;
  height: 300px;
  margin: auto;
  -webkit-box-shadow: 1px 1px 10px #8da4e0;
          box-shadow: 1px 1px 10px #8da4e0;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}

#teddies .boxProduits a {
  text-decoration: none;
}

#teddies .boxProduits .container {
  padding: 0;
}

#teddies .boxProduits .image_produits {
  max-width: 300px;
  height: 240px;
}

#teddies .boxProduits .image_produits img {
  height: 240px;
  width: 100%;
  border-radius: 25px 25px 0 0;
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

#teddies .boxProduits .description {
  max-width: 300px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #558bff;
  border-radius: 0 0 25px 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

#teddies .boxProduits .description .nom,
#teddies .boxProduits .description .prix {
  font-size: 1.5rem;
  color: white;
  font-family: "Facility";
  font-weight: bold;
}

.container_produit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  font-family: "Courgette";
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .container_produit {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container_produit .image_produit {
  padding: 10px;
  max-width: 600px;
  max-height: 600px;
}

.container_produit .image_produit img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container_produit .container_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 992px) {
  .container_produit .container_details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 370px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.container_produit .container_details .nom {
  font-weight: bold;
  font-size: 1.5rem;
}

.container_produit .container_details .couleurs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.container_produit .container_details .commande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

input#envoyer {
  background-color: #1356e7;
  color: white;
  border: #1156eb;
  padding: 5px 10px;
}

#panier {
  font-family: "Facility";
  padding: 30px 10px;
}

#panier h2,
#panier h3 {
  font-weight: bold;
  text-align: center;
}

#panier h2 {
  font-size: 30px;
}

#panier h3 {
  font-size: 22px;
}

#panier .panier_vide {
  border: 8px inset rgba(76, 105, 167, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0;
}

#panier .panier_vide p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 10px;
  font-family: "Facility";
  font-size: 20px;
  font-style: oblique;
  font-weight: bold;
}

#panier .container_recap_produit {
  border: 2px solid #4fb4ee;
  border-radius: 10px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#panier .container_recap_produit .recap_produit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#panier .container_recap_produit .recap_produit .designation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

#panier .container_recap_produit .prix_total {
  font-weight: bold;
  text-align: center;
  background-color: #4fb4ee;
  border-radius: 0 0 10px 10px;
  color: white;
  padding: 5px 0;
  margin: -2px;
}

#panier .vider_panier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#panier .vider_panier button {
  font-weight: bold;
  background-color: #7dceee;
  border: 1px solid #187db8;
  border-radius: 10px;
  margin: 10px 0;
}

#panier .total_commande {
  font-weight: bold;
  font-size: 18px;
  font-style: oblique;
  color: white;
  background-color: #279add;
  -webkit-box-shadow: 1px 1px 5px 4px rgba(79, 180, 238, 0.65);
          box-shadow: 1px 1px 5px 4px rgba(79, 180, 238, 0.65);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.contact {
  margin-top: 20px;
  padding: 10px;
  font-family: "Facility";
}

.contact h3 {
  text-align: center;
}

.contact .formulaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .btn_commander {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .btn_commander #submit {
  font-weight: bold;
  background-color: #7dceee;
  border: 1px solid #187db8;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  padding: 5px;
  outline: none;
}

input[type=text]:invalid,
input[type=email]:invalid {
  -webkit-box-shadow: 0 0 3px 1px red;
          box-shadow: 0 0 3px 1px red;
}

#confirmation {
  padding: 40px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#confirmation h2 {
  font-family: "Courgette";
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
}

#confirmation .container_confirmation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  font-family: "facility";
  font-size: 18px;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */