.entete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  padding: 10px;
}

.entete .logo a {
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.entete .logo .col img {
  width: 60px;
}

.entete .logo h1 {
  font-family: "Galada", cursive;
  font-size: 2.2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
}

.entete .panier {
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  font-family: "Facility", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px;
}

@media (max-width: 575.98px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .adresse,
footer .contact {
  text-align: center;
}

footer h3 {
  font-weight: bold;
}

footer a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
}

body.container-fluid {
  padding: inherit;
}

body.container-fluid main {
  background-color: rgba(32, 201, 151, 0.3);
}

div.row {
  margin: 0;
}

div.row .col.col-4 {
  display: none;
  padding: 0;
}

@media (min-width: 992px) {
  div.row .col.col-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

div.row .col.col-4 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

div.row .sm-col-12.blocPresentation {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.row .sm-col-12.blocPresentation h2 {
  font-family: "Courgette", cursive;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

div.row .sm-col-12.blocPresentation .presentation {
  font-family: "courgette", cursive;
  font-size: 1.2rem;
  text-align: justify;
}

.collection {
  height: auto;
  width: 90%;
  margin: auto;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collection h2 {
  font-family: "Courgette";
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}

#teddies {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#teddies .boxProduits {
  background-color: white;
  max-width: 300px;
  width: auto;
  height: 300px;
  margin: auto;
  -webkit-box-shadow: 1px 1px 10px #8da4e0;
          box-shadow: 1px 1px 10px #8da4e0;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}

#teddies .boxProduits a {
  text-decoration: none;
}

#teddies .boxProduits .container {
  padding: 0;
}

#teddies .boxProduits .image_produits {
  max-width: 300px;
  height: 240px;
}

#teddies .boxProduits .image_produits img {
  height: 240px;
  width: 100%;
  border-radius: 25px 25px 0 0;
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

#teddies .boxProduits .description {
  max-width: 300px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #558bff;
  border-radius: 0 0 25px 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

#teddies .boxProduits .description .nom, #teddies .boxProduits .description .prix {
  font-size: 1.5rem;
  color: white;
  font-family: "facility";
  font-weight: bold;
}

.container_produit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  font-family: "Courgette";
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .container_produit {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container_produit .image_produit {
  padding: 10px;
  max-width: 600px;
  max-height: 600px;
}

.container_produit .image_produit img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container_produit .container_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 992px) {
  .container_produit .container_details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 370px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.container_produit .container_details .nom {
  font-weight: bold;
  font-size: 1.5rem;
}

.container_produit .container_details .couleurs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input#validation {
  background-color: #1356e7;
  color: white;
  border: #1156eb;
}
/*# sourceMappingURL=style.css.map */