// main de la page index

body.container-fluid {
   padding: inherit;
   main{
      background-color: rgba(#20c997, 0.3);
   }
}

div.row {
   margin: 0;
   .col.col-4 {
      display: none;
      padding: 0;
      @media (min-width: 992px) {
         display: flex;
      }
      img {
         object-fit: cover;
         width: 100%;
      }
   }
   .sm-col-12.blocPresentation {
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      h2 {
         font-family: "Courgette", cursive;
         font-weight: bold;
         display: flex;
         justify-content: center;
         margin-bottom: 20px;
      }
      .presentation {
         font-family: "courgette", cursive;
         font-size: 1.2rem;
         text-align: justify;
      }
  }
}

.collection {
   height: auto;
   width: 90%;
   margin: auto;
   padding: 30px 0;
   display: flex;
   flex-direction: column;
   h2 {
      font-family: "Courgette";
      font-weight: bold;
      text-align: center;
      padding: 20px 0;
   }
}

#teddies {
   padding-left: 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   .boxProduits {
      background-color: white;
      max-width: 300px;
      width: auto;
      height: 300px;
      margin: auto;
      box-shadow: 1px 1px 10px #8da4e0;
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      margin: 20px;
      a{
         text-decoration: none;
      }
      .container {
         padding: 0;
      }
      .image_produits {
         max-width: 300px;
         height: 240px;
         img {
         height: 240px;
         width: 100%;
         border-radius: 25px 25px 0 0;
         margin: 0;
         object-fit: cover;
         }
      }
      .description {
         max-width: 300px;
         height: 60px;
         display: flex;
         background-color: #558bff;
         border-radius: 0 0 25px 25px;
         justify-content: space-between;
         align-items: center;
         padding: 15px;
         column-gap: 15px;
         .nom, .prix{
         font-size: 1.5rem;
         color: white;
         font-family: "facility";
         font-weight: bold;
         }
      }
   }
}

// main de la page produit
.container_produit{
   display: flex;
   flex-direction: column;
   padding: 50px;
   font-family: "Courgette";
   font-size: 1.2rem;
   @media  (min-width: 992px) {
      flex-direction: row;
      align-items: center;
   }
   .image_produit{
      padding: 10px;
      max-width: 600px;
      max-height: 600px;
      img{
         width: 100%;
         object-fit: cover;
      }
   }
   .container_details{
      display: flex;
      flex-direction: column;
      height: 400px;
      justify-content: space-around;
      @media  (min-width: 992px) {
         display: flex;
         flex-direction: column;
         height: 370px;
         justify-content: space-around;
      }
      .nom{
         font-weight: bold;
         font-size: 1.5rem;
      }
      .couleurs{
         display: flex;
      }
   }
}

input#validation{
   background-color: #1356e7;
   color: white;
   border: rgb(17, 86, 235);
}